/*CSS file for the Task List 2023*/

/*Defining the colors used in webpage*/
:root {
	--dark: #000000;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #b4b4b4;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #ffffff;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

/*----CSS for body Section-----*/
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #ffffff;
	background-color: var(--dark);
	
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.3rem;
	font-weight: 750;
	color: var(--pink);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
    font-weight: 700;
/*Adding color gradient to Add Task Option*/
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.2s;
}

#new-task-submit:hover {
	opacity: 0.5;
}

#new-task-submit:active {
	opacity: 0.5;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 550;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.1rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
	transition: 0.2s;
}

.task .actions button:hover {
	opacity: 0.5;
}

.task .actions button:active {
	opacity: 0.5;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}

/*--css for copyright section--*/
.copyright{
	color: #ffffff;
	font-size: 0.8rem;
}